body {
    background: url("../images/seigaiha.png");
}

.container {
    border-radius: 10px;
    background-color: #ffffff;
    padding: 2%;
}

/* navbar */

nav {
    border-bottom: 3px solid #cccccc;
    margin-bottom: 50px;
}

.navbar-brand {
    border-radius: 10px;
    background-color: #4aaaa5;
    padding-right: 10px;
    padding-left: 10px;
}

/* contact */

.btn {
    background-color: #4aaaa5;
    border-color: #4aaaa5;
}